body { background: #dcbb9a; margin: 0; padding: 10px 0; }
body #content { width: 960px; margin: 0 auto; padding: 20px; background: #ffffff; }
body #content h1 { margin-top: 0; text-align: center; color: #893c00; }
body #content h2 { color: #893c00; }
body #content a { color: #3d70a1; }
body #content img { padding: 2px; border: 2px solid #893c00; }
body #content .img-right { margin-left: 20px; float: right; }
body #content .img-left { margin-right: 20px; float: left; }
body #content .brief { width: 380px; margin-right: 20px; padding: 20px; float: left; background: #fadcba; }
body #content table { margin-bottom: 50px; border-collapse: collapse; }
body #content table caption { text-align: right; }
body #content table tbody th { padding: 10px 20px; font-weight: normal; text-transform: uppercase; text-align: left; background: #e0e0e0; }
body #content table tbody th:nth-child(2) { border-right: 1px solid #ffffff; border-left: 1px solid #ffffff; }
body #content table tbody td { padding: 10px 10px 10px 20px; border-bottom: 1px solid #e0e0e0; }
body #content form { color: #808080; }
body #content input { width: 100%; margin: 2px 0 12px 0; padding: 4px; color: #808080; }
body #content .inputShortOne { width: 49%; float: left; }
body #content .inputShortTwo { width: 49%; float: right; }
body #content textarea { width: 100%; margin: 5px 0 15px 0; padding: 4px; color: #808080; }
body #content input[type="submit"] { width: 25%; margin: 0 0 10px 0; padding: 10px; text-transform: uppercase; font-size: 1.2em; color: #3d70a1; background: #ffffff; border: 1px solid #3d70a1; }
